@import "./animations.css";
@import "./reset.css";
@import "./variables.css";
@import "../components/navigation.css";
@import "../components/footer.css";

/* ************* GLOBAL STYLES ************* */

button:focus-visible,
a:focus-visible {
  outline: var(--border-medium) solid currentColor;
  outline-offset: 4px;
}

body {
  background-color: var(--green-100);
  color: var(--text-black);
  font-family: var(--sans);

  display: grid;
  grid-template-columns: [full-start] 1fr [main] minmax(0, 1400px) 1fr [full-end];
  column-gap: var(--sp-16);

  .navigation,
  footer,
  main,
  .full-bleed {
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;
    align-content: start;

    > :not(&) {
      grid-column: main;
    }
  }
}

main {
  padding-bottom: var(--sp-64);

  @media (min-width: 768px) {
    padding-bottom: var(--sp-132);
  }
}

.primary-button {
  background-color: var(--green-400);
  color: var(--white);
  padding: var(--sp-12) var(--sp-20);
  border-radius: var(--radius-sm);
  transition: background-color var(--hover-transition);

  &:hover:not(:disabled) {
    background-color: var(--green-300);
    transition: background-color var(--hover-transition);
  }

  &:focus-visible {
    outline: var(--border-medium) solid var(--green-400);
    outline-offset: 4px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--sp-12);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  text-align: center;

  .error-content {
    display: grid;
    gap: var(--sp-12);
    background-color: var(--green-200);
    padding: var(--sp-12);
    border-radius: var(--radius-sm);
  }

  .retry-button {
    background-color: var(--green-400);
    color: var(--white);
    padding: var(--sp-12) var(--sp-20);
    border-radius: var(--radius-sm);
  }
}

/* ************* LINKS ************* */

a:not(.primary-button):not(.logo-container a) {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 1px;

    background-color: currentColor;
    transition: width var(--hover-transition);
  }

  &:hover::before {
    width: 100%;
  }
}

/* ************* SVG ICONS ************* */

.svg-icon {
  width: var(--svg-icon-size);
}

/* *************  BOOKS ************* */

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(4, auto);
  column-gap: var(--sp-100);
  row-gap: var(--sp-64);
}

.book-card {
  position: relative;

  display: grid;
  row-gap: var(--sp-20);
  grid-template-rows: subgrid;
  grid-row: span 4;

  .book-cover {
    margin: auto;
    max-height: var(--book-card-height);
    object-fit: contain;
    border-radius: var(--radius-sm);
  }

  .book-link {
    display: flex;
    align-items: center;
    gap: var(--sp-8);
    width: fit-content;
    height: fit-content;
  }

  .author {
    font-size: var(--fs-xxsmall-14);
    font-weight: var(--fw-light);
  }

  .book-title {
    font-size: var(--fs-small-18);
    font-weight: var(--fw-normal);
  }

  .book-actions {
    display: flex;
    gap: var(--sp-8);
    justify-content: space-between;
    align-items: center;
  }
}

/* *************  POPOVERS ************* */

[popover] {
  padding-block: var(--sp-12);
  padding-inline: var(--sp-20);
  border-radius: var(--radius-md);
  background-color: var(--green-400);
  border: none;
  color: var(--white);

  animation: fadeIn var(--hover-transition);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(var(--sp-12));
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* *************  LOAN BUTTON ************* */

.loan-button {
  display: inline-flex;
  align-items: center;
  gap: var(--sp-8);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

/* ************* LOADING PLACEHOLDER ************* */
.loading-placeholder {
  top: 0;
  left: 0;
  height: var(--book-card-height);
  background: var(--green-200);
  animation: pulse 1.5s infinite ease-in-out;
}
