:root {
    /*fonts*/
    --mono: 'Courier New', Courier, monospace;
    --sans: 'Avenir', sans-serif;

    /*fontsize*/
    --fs-xxsmall-14: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);  
    --fs-xsmall-16: clamp(1rem, 0.75rem + 0.5vw, 1.25rem);  
    --fs-small-18: clamp(1.125rem, 0.8125rem + 0.5vw, 1.5rem);  
    --fs-medium-20: clamp(1.25rem, 0.875rem + 0.5vw, 1.75rem);  
    --fs-large-24: clamp(1.5rem, 1rem + 0.5vw, 2rem);  
    --fs-xlarge-28: clamp(1.75rem, 1.125rem + 0.5vw, 2.25rem);  
    --fs-xxlarge-32: clamp(2rem, 1.25rem + 0.5vw, 2.5rem);  
    --fs-xxxlarge-40: clamp(2.5rem, 1.5rem + 0.5vw, 3rem);  
    --fs-xxxxlarge-48: clamp(3rem, 1.75rem + 0.5vw, 3.5rem);  

    /*colors*/
    --green-400: #2B7A78;
    --green-300: #3AAFA9;
    --green-200: #76CEC8;
    --background-color: #DEF2F1;
    --text-black: #17252A;

    /*spacing*/
    --sp-4: 0.25rem; 
    --sp-8: 0.5rem;
    --sp-12: 0.75rem; 
    --sp-16: 1rem; 
    --sp-24: 1.5rem; 
    --sp-32: 2rem; 
    --sp-40: 2.5rem; 
    --sp-48: 3rem; 
    --sp-64: 4rem; 
    --sp-80: 5rem; 
    --sp-100: 6.25rem; 
    --sp-160: 10rem; 
    --sp-200: 12.5rem; 

    /*mediaqueries*/
  }
  