/* Navigation Styles */
.navigation {
  background-color: var(--green-400);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  padding-block: var(--sp-16);
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: var(--sp-160);
  height: auto;
}

/* Navigation Menu */
nav ul {
  display: none; /* Hide menu by default */
  flex-direction: column;
  align-items: center;
  gap: var(--sp-40);
  list-style: none;
  padding-bottom: var(--sp-24);
  padding-right: var(--sp-24);
  margin: 0;
  position: absolute;
  top: var(--sp-60);
  right: 0;
  width: 100%;
  background-color: var(--green-400);
  margin-top: -1px;
}

nav ul.show {
  display: flex; /* Show the menu when it has the 'show' class */
  gap: var(--sp-20);
  z-index: 100;
  align-items: end;
  height: 100svh;
  justify-content: end;
  li {
    text-align: right;
  }
}
#logoutBtn {
  margin-left: auto;
}

nav a,
#logoutBtn {
  font-size: var(--fs-small-18);
  color: var(--white);

  position: relative;

  &.active {
    &::before {
      width: 100%;
    }
  }
}

button#logoutBtn {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Hamburger Button - Visible on mobile */
/* Hamburger Button - Default */
.hamburger {
  display: flex;
  flex-direction: column;
  height: var(--sp-24);
  justify-content: center;
  gap: var(--sp-4);
  cursor: pointer;
  width: fit-content;
}

.hamburger span {
  background-color: var(--white);
  width: var(--sp-28);
  height: var(--border-thick);
  transition: all 0.3s ease;
}

/* Hamburger Open State (Cross) */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px); /* Rotate and shift */
}

.hamburger.open span:nth-child(2) {
  opacity: 0; /* Hide the middle line */
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px); /* Rotate and shift */
}

/* Media Queries for larger screens */
@media (min-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: static;
    background-color: transparent;
    padding: 0;
    gap: var(--sp-20); /* Adds space between items when displayed */
  }

  .hamburger {
    display: none; /* Hide hamburger on larger screens */
  }

  nav ul li {
    text-align: left;
  }

  nav a,
  #logoutBtn {
    font-size: var(--fs-small-18);
  }
}
