@import "../components/form.css";

.add-section {
  background-color: var(--white);
  border-radius: var(--sp-16);
  padding: var(--sp-32);
  margin-top: var(--sp-64);
  box-shadow: var(--box-shadow);
}

@media (min-width: 1024px) {
  .add-section {
    border-radius: var(--sp-28);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.add-section h1 {
  font-size: var(--fs-large-24);
  margin-bottom: var(--sp-24);
  color: var(--text-black);
}

.add-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: var(--sp-28);
}

.form-group label {
  font-weight: bold;
  margin-bottom: var(--sp-8);
  display: block;
  color: var(--text-black);
}

.form-group select {
  width: 100%;
  padding: var(--sp-12);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  border: none;
}

.add-container {
  display: grid;
  gap: var(--sp-16);
  margin-top: var(--sp-64);
  grid-template-columns: 1fr;
}

@media screen and (min-width: 1024px) {
  .add-container {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: var(--sp-64);
  }
}
