.hero {
  background-image: url("/assets/images//index-hero-image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 80svh;
  color: var(--white);

  h1 {
    font-size: var(--fs-xxxxlarge-48);
    font-family: var(--mono);
    line-height: var(--lh-tight);
  }

  .hero-content {
    z-index: 1;
    isolation: isolate;
    position: absolute;
    bottom: var(--sp-32);
    left: 0;
    display: grid;
    gap: var(--sp-24);

    a {
      width: fit-content;
      font-size: var(--fs-xxsmall-14);
    }

    p {
      font-size: var(--fs-xxsmall-14);
    }

    div {
      display: grid;
      gap: var(--sp-8);
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.5) 80%);
  }
}

.featured-books {
  .section-header {
    margin-block: var(--sp-32);
    display: flex;
    gap: var(--sp-8);
    flex-direction: column;

    justify-content: space-between;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
  }

  h2 {
    font-size: var(--fs-xlarge-28);
  }

  .browse-all-link {
    display: flex;
    align-items: center;
    gap: var(--sp-8);
    height: fit-content;
  }
}
