h2 {
  font-size: var(--fs-xlarge-28);
  font-weight: var(--fw-bold);
}

section {
  padding-block: var(--sp-44);
}

.hero {
  background-image: url("/assets/images//index-hero-image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 70svh;
  color: var(--white);

  h1 {
    font-size: var(--fs-xxxxlarge-48);
    font-family: var(--mono);
    line-height: var(--lh-tight);
  }

  .hero-content {
    z-index: 1;
    isolation: isolate;
    position: absolute;
    bottom: var(--sp-32);
    left: 0;
    display: grid;
    gap: var(--sp-24);

    a {
      width: fit-content;
      font-size: var(--fs-xxsmall-14);
    }

    p {
      font-size: var(--fs-xxsmall-14);
    }

    div {
      display: grid;
      gap: var(--sp-8);
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.5) 80%);
  }
}

.featured-books {
  .header-content {
    margin-bottom: var(--sp-32);
    display: grid;
    gap: var(--sp-8);
    flex-direction: column;

    justify-content: space-between;

    @media (min-width: 768px) {
      grid-template-columns: 1fr auto;
      align-items: end;
    }

    p {
      grid-column: 1;
    }
  }

  .browse-all-link {
    display: flex;
    align-items: center;
    gap: var(--sp-8);
    height: fit-content;
    width: fit-content;
    padding: var(--sp-8) var(--sp-16);
    color: var(--white);
    margin-top: var(--sp-16);
    background-color: var(--green-400);

    @media (min-width: 768px) {
      margin-top: 0;
      background-color: transparent;
      color: initial;
      padding: 0;
      grid-column: 2;
      grid-row: 2;
    }
  }
}

.book-of-the-month {
  background-color: var(--green-200);

  .book-of-the-month-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--sp-64);

    @media (min-width: 768px) {
      flex-direction: row;

      .featured-book {
        order: -1;
      }
    }

    .book-of-the-month-text {
      display: grid;
      gap: var(--sp-16);
      height: fit-content;
    }
  }
}
