@import "../components/form.css";

@media (min-width: 768px) {
  .login .auth-section {
    border-radius: var(--radius-lg);
  }
}

@media (min-width: 1024px) {
  .login .auth-section {
    width: 60%;
  }
  .login .primary-button {
    width: 50%;
    align-self: center;
  }
}
